# Files and directories created by pub
.dart_tool/
.packages
build/
build/.last_build_id
.flutter-plugins-dependencies
.kotlin

# Pubspec overrides
pubspec_overrides.yaml

# macOS
.DS_Store

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Project specific
scripts/private/

run_workdir/
